#myCanvas {
    border:1px solid;
    visibility: hidden;
}

#canvasContainer {
  width: 100%;
  text-align: center;
}

#canvasTimer {
  border: 1px solid black;
  margin-top: 30px;
  visibility: hidden;
}

@font-face {
  font-family: "bubble";
  src: url("../assets/Bubble3D.ttf");
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../assets/PressStart2P-Regular.ttf");
}

body {
  background-color: rgb(172, 114, 87);
}