#myCanvas {
    border:1px solid;
    visibility: hidden;
}

#canvasContainer {
  width: 100%;
  text-align: center;
}

#canvasTimer {
  border: 1px solid black;
  margin-top: 30px;
  visibility: hidden;
}

@font-face {
  font-family: "8Bit";
  src: url("../res/8-Bit\ Madness.ttf")
}

@font-face {
  font-family: "8Bit2";
  src: url("../res/thin_pixel-7.ttf")
}